body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(#e66465, #9198e5);;
 padding: 1%;
  text-align: center;
  text-shadow: 2px 2px #f9f5f5;
}
/* main{
  background: rgb(193, 193, 188);
} */
.background{
  background-image: url('https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821__480.jpg');
  position: relative;
   background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
	  height: 100%;
	  filter: blur(10px);
    
 
}
.background-1{
   background-image: url('https://play-lh.googleusercontent.com/Km9boRtAMuktDnTW2J5BntyqE8UMbcITWL6fMzuCdN3-JrVTWOaWenRvviRzuf9ni4I');
  position: relative;
   background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
	  height: 100%;
	  filter: blur(10px);
}
#home{
    text-align: center;
      position: absolute;
    top: 30%;
      width: 100%;
	  font-size: 30px;
    justify-content: center;
    display:flow-root;
}
#about{
  text-align: center;
  position: absolute;
top: 140%;
  width: 100%;
font-size: 30px;
justify-content: center;
display:flow-root;
}

nav {
  background-color: rgb(6, 6, 6);
  display: flex;
  justify-content: space-around;
  
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1%;
  font-style: bold;
}


nav a {
  color: rgb(255, 252, 252);
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase 
}

nav a:hover {
  background-color: rgb(129, 127, 127);
}



h2 {
  justify-content: center;
  display: flex;
  text-shadow: 2px 2px #f8995a; 
  font-size: xx-large;
}

p {
  padding: 3%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.4px;
  color: rgb(11, 11, 11);
}

#services {
  display: grid;
  justify-items: center;
  background: #9198e5;

}

.services-heading {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;


}

.services-title {
  list-style-type: none;
    /* border: 1px solid black; */
  
   
  
}

.services-item {
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
 color: #4a4a4a;
 display: block;
 

}

.service-img{
  justify-items: center;
  display: grid;
   object-fit:cover;
  width: 95%;
  height: 60%;
  box-shadow: 3px 3px 3px 3px black;
}

#video{
  justify-content: center;
  background: #e66465;
}

.video-item {

  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}


.video-item-video{
  width: 80%;
  height: 90%;
  box-shadow: 3px 3px 3px 3px black;
 
}

#gallery {
  display: grid;
  justify-items: stretch;
  background: #f8995a;
}

.gallery-heading {
  display: grid;
  justify-content: center;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10vh;
}

.gallery-title {
  list-style-type: none;
  box-shadow: 3px 3px 3px 3px black;
}

h1 {
			font-size: 3em;
			margin: 20px 0;
		}

		#contact{
			width: 80%;
			margin: 0 auto;
			text-align: left;
			padding: 20px;
		border-radius: 5px;
    background: #4a4a4a;
		}

		.contact-section {
			margin-top: 10px;
			font-size: 1.2em;
			
			text-align: center;
      display: flex;
		}

		.contact-section p {
			margin: 5px 0;
		}

		.contact-section p span {
			font-weight: bold;
			color: darkblue;
		}
    footer{
      background: rgb(173, 195, 196);
    }

		
